<div class="container pt-sm">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow zindex-100">
        <div class="card-body px-md-5 py-5">
          <div class="text-center mb-5">
            <h6 class="h3">Welcome back</h6>
            <p class="text-muted mb-0">Sign in to your account to continue</p>
          </div>
          <span class="clearfix"></span>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.label :email, class: "form-control-label" %>
              <div class="input-group input-group-transparent">
                <div class="input-group-prepend">
  	  	          <span class="input-group-text">
  	  	          	<i class="fas fa-user"></i>
  	  	          </span>
                </div>
                <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "name@example.com" %>
              </div>
            </div>
            <div class="form-group mb-4">
              <div class="d-flex align-items-center justify-content-between">
                <div>
                  <%= f.label :password, class: "form-control-label" %>
                </div>
                <div class="mb-2">
                  <%= link_to "Forgot your password?", new_password_path(resource_name), class: "small text-muted text-underline--dashed" %>
                </div>
              </div>
              <div class="input-group input-group-transparent">
                <div class="input-group-prepend">
   	              <span class="input-group-text">
   	                <i class="fas fa-key"></i>
   	              </span>
                </div>
                <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
                <div class="input-group-append">
  	  	          <span class="input-group-text">
  	  	            <i class="fas fa-eye"></i>
  	  	          </span>
                </div>
              </div>
            </div>
            <div class="form-check">
              <%= f.check_box :remember_me, class: "form-check-input" %>
              <%= f.label :remember_me, class: "form-check-label" %>
            </div>
            <div class="text-center mb-3">
              <%= f.submit "Sign in", class: "btn btn-primary btn-block" %>
            </div>
            <div class="text-center">
              <small>No confirmation email?</small>
              <%= link_to "Resend", new_confirmation_path(resource_name), class: "small font-weight-bold" %>
            </div>
            <div class="text-center">
              <small>Account locked?</small>
              <%= link_to "Unlock it", new_unlock_path(resource_name), class: "small font-weight-bold" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>