<!DOCTYPE html>
<html>
  <head>
    <title>Yikyak</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/top_navbar' %>
    <%= render 'layouts/alerts' %>
    <%= yield %>
    <%= render 'layouts/bottom_navbar' %>
  </body>
</html>
